*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	ms-text-size-adjust: 100%;
	moz-text-size-adjust: 100%;
	webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-size: inherit;font-weight: 400;}



.container {
	background-color: rgba(255,0 ,0, 0.9);
	background-image: url('../img/Footer/Layer_13.png');
	background-size: 100%;
	padding: 38px 104px 0 84px;
	
}
.content-top {
	display: flex;
	justify-content: space-between;
	margin: 0 0 121px 0;
}

.content-top:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	z-index: 3;
}

.content-top__logo {
	z-index: 4;
}

.content-top__menu {
	display: flex;
	padding: 25px 0 0 0;
	position: relative;
	transition: all 0.3s ease 0s;
	z-index: 3;
}

.content-top__menu ul{
	margin: 0 0 0 15px;
	padding: 8px 15px;
	height: 37px;
}

.content-top__menu ul:hover{
	background-color: #130e27;
	border-radius: 5px;
}

.content-top__item {
	color: #ffffff;
	font-family: Montserrat;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
}

@media (max-width: 1100px){
	.container{
		max-width: 1100px;
		padding: 7px 15px 0 15px;
		height: 100%;
	}
	.content-top{
		margin: 0 0 30px 0;
	}
	.content-top__logo {
		margin: 20px 0 0 0;
	}
	.content-top__img{
		width: 200px;
	}
	.content-top__menu ul{
		margin: 0 0 0 0;
	}
}

.sell {
	display: flex;
	justify-content: space-between;
}

.sell-body {
	max-width: 495px;
	min-height: 385px;
	margin: 0 58px 50px 0;
}
.sell-body__title {
	color: #130e27;
	font-family: Montserrat;
	font-size: 80px;
	font-weight: 700;
	line-height: 80px;
	text-transform: uppercase;
	margin: 0 0 37px 0;
}

.white{
	color: #fff;
}

.sell-body__text {
	color: #ffffff;
	font-family: "PT Serif";
	font-size: 20px;
	line-height: 28px;
}

.sell-form {
	position: absolute;
	right: 108px;
	box-shadow: 1px 5px 32px 6px rgba(137, 137, 137, 0.71);
	background-color: #ffffff;
	padding: 33px 23px 28px 23px;
	border-radius: 10px;
}

.sell-form__title {
	color: #130e27;
	font-family: Montserrat;
	font-size: 22px;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 38px 0;
}

.sell-form__input{
	display: block;
	background-color: #eeeeee;
	width: 353px;
	height: 57px;
	border-radius: 5px;
	margin: 0 0 17px 0;
	padding: 22px 0 17px 19px;
	color: #b5b5b5;
	font-family: "PT Serif";
	font-size: 20px;
	line-height: 25px;
}

.sell-form__checkbox{
	width: 19px;
	height: 18px;
	background-color: #eeeeee;
	margin: 0 0 25px 0;
}

.checkbox-text{
	color: #130e27;
	font-family: "PT Serif";
	font-size: 20px;
	line-height: 25px;
	padding: 0 0 0 23px;

}

.sell-form__button {
	display: block;
	border: 1px solid #c62314;
	border-radius: 10px;
	width: 353px;
	height: 57px;
	background-color: #c62314;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
}
.content-top__burger {
	display: none;
}

@media (max-width: 1100px){
	.sell-form{
		justify-self: end;
		position: static;
	}
		.sell-body__title {
		line-height: 60px;
		font-size: 50px;
	}
}

@media (max-width: 775px){
	.container{
		min-width: none;
	}
	.content-top__burger{
		content: '';
		display: block;
		position: relative;
		top: 30px;
		width: 30px;
		height: 20px;
		z-index: 4;
	}
	.content-top__burger span{
		content: '';
		position: absolute;
		background: #fff;
		width: 100%;
		height: 2px;
		left: 0;
		bottom: 9px;
		transition: all 0.3s ease 0s;
	}
	.content-top__burger:before,
	.content-top__burger:after{
		content: '';
		position: absolute;
		background: #fff;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.content-top__burger:before{
		top: 0;
	}
	.content-top__burger:after{
		bottom: 0;
	}
	.content-top__burger.active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.content-top__burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.content-top__burger.active span{
		transform: scale(0);
	}
	.content-top__menu{
		position: fixed;
		display: block;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background: #000;
		padding: 100px 0 0 0;
	}
	.content-top__menu.active{
		left: 0;
	}
	.content-top__menu ul{
		margin: 0 0 20px 0;
	}
	.sell{
		display: block;
	}
	.sell-form{
		
	}
	.sell-form__input{
		width: 100%;
	}
	.sell-form__button{
		width: 100%;
	}
	.sell-body{
		text-align: center;
		min-width: 100%;
		min-height: 0;
		margin: 0 0 50px 0;
	}
	.sell-body__text {
		text-align: justify;
	}
}


.services {
	padding: 20px 109px 48px 101px;
}

.services-content {}

.services-title {
	color: #130e27;
	font-family: Montserrat;
	font-size: 50px;
	font-weight: 700;
	line-height: 80px;
	text-transform: uppercase;
	margin: 0 0 97px 0;
}

.services-body {
	display: flex;
	justify-content: space-between;
}
.services__column {
	margin: 0 0 20px 0;
	flex: 0 1 168px;
}

.services-item__img{
	text-align: center;
	height: 160px;
	margin: 0 0 30px 0;
}

.services-item__text {
	color: #161616;
	font-family: "PT Serif";
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	text-align: center;
}

@media (max-width: 1100px){
	.services {
	padding: 20px 30px 48px 30px;
	}
	.services-content {
		text-align: left;
	}
	.services-title {
	margin: 0 0 40px 0;
	}
	.services-item__img{
	text-align: center;
	height: 125px;
	margin: 0 0 20px 0;
	}
	.services-item__image {
		height: 125px;
	}
}

@media (max-width: 775px){
	.services-body{
		flex-wrap: wrap;
		justify-content: center;
	}
	.services__column {
	margin: 0 10px 20px 10px;
	}
	.services-content {
		text-align: center;
	}
}

.story {
	background-color: #130e27;
}

.story-body {
	display: flex;
	padding: 34px 109px 28px 105px;
	justify-content: space-between;
}

.story__column_text {
	flex: 0 1 650px;
}
.story__text {
	color: #ffffff;
	font-family: "PT Serif";
	font-size: 20px;
	line-height: 28px;
	padding: 0 15px 0 0;
}

.story__column_button {
	align-self: center;
}

.button {
	display: inline-block;
	border: 1px solid #c62314;
	border-radius: 10px;
	background-color: #c62314;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 22px;
	font-weight: 400;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -0.44px;
	padding: 15px 0;
}

.story__button {
	width: 269px;
	height: 64px;
}

@media (max-width: 1100px){
	.story-body {
	padding: 34px 30px 28px 30px;
	}
	.story__text {
	font-size: 18px;
	line-height: 24px;
	padding: 0 10px 0 0;
	}
}

@media (max-width: 775px){
	.story-body {
	display: block;
	padding: 20px 30px;
	text-align: center;
	}
	.story__text {
	font-size: 18px;
	line-height: 20px;
	padding: 0 0 20px 0;
	}
}


.pricing {
	background-color: #efefef;
}

.pricing-content {
	padding: 65px 138px 0 108px;
	text-align: center;
}

.pricing-title {
	color: #130e27;
	font-family: Montserrat;
	font-size: 50px;
	font-weight: 700;
	line-height: 80px;
	text-transform: uppercase;
	margin: 0 0 27px 0;
}

.pricing-body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.pricing-body__column {
	background-color: #ffffff;
	flex: 0 1 318px;
	margin: 0 0 10px 0;
}

.pricing-body__item {
	padding: 35px 58px 0 55px;
	
}

.pricing-body__class {
	color: #161616;
	font-family: "PT Serif";
	font-size: 22px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 28px;
	text-align: center;
	margin: 0 0 10px 0;
}
.pricing-body__price {
	color: #c62314;
	font-family: Montserrat;
	font-size: 60px;
	font-weight: 700;
	line-height: 80px;
	text-transform: uppercase;
	margin: 0 0 23px 0;
}
.pricing-body__text {
	color: #161616;
	font-family: "PT Serif";
	font-size: 20px;
	line-height: 28px;
}

.blue--{
	border: 1px solid #130e27;
	background-color: #130e27;
}

.pricing-body-button{
	width: 235px
}

.pricing-body-btn {
	margin: 25px 0 0 0;
}

@media (max-width: 1100px){
	.pricing-content {
	padding: 20px 30px 48px 30px;
	}
	.pricing-title {
	color: #130e27;
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 700;
	line-height: 40px;
	}
}

.testimonial {}
.testimonial-content {
	padding: 155px 104px 76px 85px;
}
.testimonial-body {
	display: flex;
	justify-content: space-between;
}
.testimonial-column {
	max-width: 506px;
	margin: 0 30px 0 0;
}
.testimonial-column-title {
	color: #130e27;
	font-family: Montserrat;
	font-size: 50px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: 80px;
	text-align: center;
	text-transform: uppercase;
}
.testimonial-column__column {
	display: flex;
	margin: 0 0 35px 0;
}
.testimonial-column__body {
	flex: 0 1 456px;
}

.testimonial-column__item {
	padding: 26px 77px 27px 24px;
}

.testimonial-column__text {
	color: #161616;
	font-family: "PT Serif";
	font-size: 20px;
	line-height: 28px;
	text-align: left;
	margin: 0 0 23px 0;
}

.red {
	color: #d03958;
}

.testimonial-column__name {
	color: #130e27;
	font-family: Montserrat;
	font-size: 20px;
	line-height: 28px;
	text-align: left;
}
.testimonial-column__img {
	margin: auto 0 auto -53px;
}

.background{
	background-color: #efefef;
}

.testimonial-gallery {
	max-width: 388px;
	text-align: center;
}

.testimonial-gallery__title {
	color: #c62314;
	font-family: Montserrat;
	font-size: 50px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: 80px;
	text-transform: uppercase;
	margin: 0 0 40px 0;
}
.testimonial-gallery__body {
}

.testimonial-gallery__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 0 26px 0;
}

.testimonial-gallery__item img{
	margin: 0 0 28px 0;
}

.testimonial-gallery__link {
	color: #130e27;
	font-family: Montserrat;
	font-size: 20px;
	line-height: 28px;
	text-decoration: underline;
	text-transform: uppercase;
}

@media (max-width: 1100px){
	.testimonial-content {
	padding: 34px 30px 28px 30px;
	}
}

@media (max-width: 970px){
	.testimonial-body {
	display: block;

	}
	.testimonial-column {
	width: none;
	margin: 0 auto;
	}
	.testimonial-gallery {
	margin: 0 auto;
	}
}

@media (max-width: 540px){
	.testimonial-content {
	padding: 24px 20px 18px 20px;
	}
	.testimonial-column__img {
	display: none;
	}
	.testimonial-column__item {
	padding: 26px 24px;
	}
	.testimonial-gallery {
	width: none;
	}
	.testimonial-gallery__title {
	font-size: 30px;
	margin: 0 0 20px 0;
	}
	.testimonial-gallery__item {
	justify-content: space-around;
	}
	.testimonial-column-title {
	font-size: 30px;
	line-height: 60px;
	}
}

footer{
	background-color: #130e27;
}

.footer-content {
	padding: 53px 104px 53px 101px;
}
.footer-body {

}
.footer__column {
	display: flex;
	justify-content: space-between;
}
.footer-column__text {
	align-self: center;
	color: #ffffff;
	font-family: "PT Serif";
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 22px;
	text-align: left;
}

.text-link {
	color: #c62314;
}
.footer-column__logo {}

@media (max-width: 1100px){
	.footer-content {
		padding: 20px 30px 20px 30px;
	}
	.footer-column__text {
	font-size: 16px;
	}
}

@media (max-width: 775px){
	.footer__column {
	display: block;
	text-align: center;
	}
	.footer-column__text {
	text-align: center;
	margin: 0 0 10px 0;
	}
}